.Chat-bot-info-container{
    display: flex;
flex-direction: column;
justify-content: space-between;
height: 85%;
align-items: center;
}
.BotInfo-container{
    flex: 1;
    align-self: flex-end;
    width: fit-content;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: rgb(255, 42, 77);
}
.bot-info-head.one{
    display: flex;
    align-items: center;
    }
.bot-info{
    display: flex;
    width: 95%;
    justify-content: space-between;   
    align-items: center;
}
.bot-info img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;

    margin-bottom: 50px;
}
.bot-info.one{
    background-color: black;
    padding: 5px;
    margin: 10px;
    border-radius: 0.5em;
    display: flex;
    justify-content: space-between;
}

.bot-info.one>.bot-info-head{
    flex: 1;

}
.bot-info-head.x{text-align: end;
}
.Chat-bot-info-container i{
    padding: 0.5em;
    border-radius: 5px;
}
.Chat-bot-info-container i:hover{
    background-color: rgba(240, 248, 255, 0.183);
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .BotInfo-container{
        display: none;
        width: 100%;
        background-color: black;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1em;
        max-width: 0;
        overflow: hidden;
    }
}